doctype html
html( lang="en" ng-app="xSchedule" )
  head
    title Aspen Security

    // Viewport mobile tag for sensible mobile support
    meta( charset="utf-8" )
    meta( http-equiv="X-UA-Compatible" content="IE=edge" )
    meta( name="description" content="" )
    meta( name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" )
    link( rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic" )
    link( rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" )
    base( href="/" )
    
    link( href="/assets/dependencies.css" rel="stylesheet" )
    link( href="/assets/xSchedule.css" rel="stylesheet" )
    
    style [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important; }

  body( layout="row" ng-cloak ng-controller="applicationCtrl as app")

    navigation-main
    .md-whiteframe-z2(flex="", layout="column", tabindex="-1", role="main")
      md-toolbar.md-whiteframe-z1(layout="row")
        md-button.menu(hide-gt-md="", ng-click="app.toggleMainMenu()", aria-label="Show Main Menu")
          md-icon menu
        h1 Aspen Security Scheduler
      md-content(flex="" ui-view="" layout-padding)
        
    script( src="/assets/dependencies.js" )
    script( src="/assets/xSchedule.js" )
